.css-rtrcn9-MuiTablePagination-root .MuiTablePagination-selectLabel {
    margin-bottom: 0 !important;
}

.css-levciy-MuiTablePagination-displayedRows {
    margin-bottom: 0 !important;
}

.astrid{

    color:"red" !important;
    font-weight:"bold" ;
}
.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: none !important;
}