.css-rtrcn9-MuiTablePagination-root .MuiTablePagination-selectLabel {

    margin-bottom: 0 !important;

}

 

.css-levciy-MuiTablePagination-displayedRows {

    margin-bottom: 0 !important;

}

/* #standard-search{
    width:2000px
} */

.drop{
    margin: 1;
    /* width: '25ch' */
}
